<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body class="container-fluid">
	<div th:replace="fragments/navbar :: navbar">...</div>
	<div th:remove="${alertSuccess} ? all" class="alert alert-success alert-dismissible fade show" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <span th:text="${msg}"></span>
	</div>
	<table class="table">
		<thead>
			<th>ID</th>
			<th>Nome</th>
			<th>E-mail</th>
			<th>Senha</th>
			<th>Altere ou Delete</th>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.id}">...</td>
				<td th:text="${usuario.nome}">...</td>
				<td th:text="${usuario.email}">...</td>
				<td th:text="${usuario.senha}">...</td>
				<td>
				  <a class="btn btn-warning" href="#" th:href="@{/user/edit/} + ${usuario.id}">Alterar</a> - 
				  <a class="btn btn-danger" href="#" th:href="@{/user/delete/} + ${usuario.id}">Deletar</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>